﻿<html>
<head>

</head>
<body>
    <input type="text" name="name" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' />
    <input type="submit" value="Search" />
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[data-autocomplete-source]").each(function () {
                var target = $(this);
                target.autocomplete({ source: target.attr("data-autocomplete-source") });
            });
        });
    </script>
</body>
</html>