﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:25px;">
    <div>
        <h2>Fill MVC ListBox using jQuery getJSON and JSONResult</h2>
    </div>
    <div>
        <b>Categories</b>
    </div>
    <div>
        @*@Html.ListBox("Categories", new SelectList(new[] { "" }),
        new { @class = "list-group", @style = "width: 150px; height:150px; margin:15px;" })*@
        <select class="list-group" id="Categories" multiple="multiple" name="Categories" style="width: 150px; height:150px; margin:15px;">

        </select>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $.getJSON('ListboxWithModel/GetCategoriesWithModel/', function (data) {

                //clear the current content of the select
                $('#Categories').empty();

                //iterate over the data and append a select option
                $.each(data, function (i, item) {
                    $('#Categories').append('<option value="' + item.categoryID + '">'  + item.categoryName + '</option>');
                })
            });
        });
    </script>
}