﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">           
            @RenderBody()
        </main>
    </div>
    <div id="_SiteScripts" class="hidden">
        <script src="~/jquery.min.js"></script>
        <script src="~/jquery-ui.min.js"></script>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
