﻿@page
@using ClientSideValidations.Models
@model PersonModel

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: Red;
    }

    .gst {
        text-transform: uppercase;
    }
</style>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.GSTNumber)
    @Html.TextBoxFor(m => m.GSTNumber, "", new { @class = "gst" })
    @Html.ValidationMessageFor(m => m.GSTNumber, "", new { @class = "error" })
    <hr />
    <input type="submit" value="Submit" />
}