﻿@page

<input type="text" id="txtMobileNumber" />
<span id="lblError" class="error"></span>
<hr />
<input type="button" value="Submit" onclick="ValidateMobileNumber()" />

@section Scripts{
    <script type="text/javascript">
    function ValidateMobileNumber() {
        var mobileNumber = document.getElementById("txtMobileNumber").value;
        var lblError = document.getElementById("lblError");
        lblError.innerHTML = "";
        var expr = /^(0|91)?[6-9][0-9]{9}$/;
        if (!expr.test(mobileNumber)) {
            lblError.innerHTML = "Invalid Mobile Number.";
        }
    }
</script>
}