﻿@model Computer

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Model)
            <p>@Html.EditorFor(model => model.Model)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.Year)
            <p>@Html.EditorFor(model => model.Year)</p>
        </div>
        <p><input type="submit" value="Добавить" /></p>
    }
</div>