﻿@model IEnumerable<Computer>
@{
    ViewData["Title"] = "Crud Modal";
}
<h2>Список компьютеров</h2>
<table>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Model</td>
            <td>
                <a href="/CrudModal/Details/@c.Id" class="viewDialog">View</a>
                <a href="/CrudModal/Edit/@c.Id" class="viewDialog">Edit</a>
                <a href="/CrudModal/Delete/@c.Id" class="viewDialog">Delete</a>

                @*@Html.ActionLink("View", "Details", "CrudModal", new { id = c.Id },
            new { @class = "viewDialog",  data_dialog_title = "Описание модели" }) |
            @Html.ActionLink("Изменить", "Edit", "CrudModal", new { id = c.Id },
            new { @class = "viewDialog", data_dialog_title = "Редактирование модели" }) |
            @Html.ActionLink("Удалить", "Delete", "CrudModal", new { id = c.Id },
            new { @class = "viewDialog", data_dialog_title = "Удаление модели" })*@
            </td>
        </tr>
    }
</table>
<p> @Html.ActionLink("Добавить", "Create", "CrudModal", new { }, new { @class = "viewDialog", data_dialog_title = "Создание модели" })</p>
@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $(".viewDialog").on("click", function (e) {
                e.preventDefault();
                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true
                    })
                    .load(this.href);
            });
        });
    </script>
}