﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aspnet.JQuery</title>
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <link href="~/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="d-grid gap-2">
                <a class="btn btn-secondary" asp-action="index" asp-controller="CrudModal">Modal Crud</a>
                <a class="btn btn-secondary" asp-action="index" asp-controller="NotificationModal">Notification Modal</a>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery.min.js"></script>
            <script src="~/bootstrap.min.js"></script>
            <script src="~/jquery-ui.min.js"></script>
        </div>
        <partial name="_Notification" />
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
