﻿@if (TempData["Success"] != null)
{
    <input type="hidden" id="modal" value="#successModal" />
    <partial name="_Success" model="(string)@TempData["Success"]" />
}
@if (TempData["Error"] != null)
{
    <input type="hidden" id="modal" value="#errorModal" />
    <partial name="_Error" model="(string)@TempData["Error"]" />
}
@if (TempData["Info"] != null)
{
    <input type="hidden" id="modal" value="#infoModal" />
    <partial name="_Info" model="(string)@TempData["Info"]" />
}

<script>
    $(window).on('load', function () {
        var showModal = $('#modal').val();
        if (typeof showModal !== 'undefined') {
            $(showModal).modal('show');
        }
    });/*
        $(window).load(function () {
            var showModal = $('#modal').val();
            if (typeof showModal !== 'undefined') {
                $(showModal).modal('show');
            }
        });*/
</script>