﻿<h1>Test ajax post</h1>
<form method="post">
    User ID : <input id="userId" /> <br />
    Module Id :  <input id="ModuleId" /> <br />
    role : <input id="role" /><br />

    <button class="btn btn-primary m-1" onclick="return postContentTypeJson()">
        Post data with body
    </button>
    <button class="btn btn-primary" onclick="return postContentTypeForm()">
        Post data with form
    </button>
</form>
@section Scripts{
    <script>
        function postContentTypeForm() {
            let userId = $("#userId").val();
            let ModuleId = $("#ModuleId").val();
            let role = $("#role").val();
            $.ajax({
                type: "POST",
                url: '/ContentType/Home/Indexform',
                data: { "userId": userId, "ModuleId": ModuleId, "role": role },
                dataType: 'json',
                success: function (response) {
                    console.log(response.test);
                }
            });
            var test = '';
            return false;
        }
        function postContentTypeJson() {
            let userId = $("#userId").val();
            let ModuleId = $("#ModuleId").val();
            let role = $("#role").val();
            $.ajax({
                type: "POST",
                url: '/ContentType/Home/Indexbody',
                data: JSON.stringify({ "userId": userId, "ModuleId": ModuleId, "role": role }),
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    console.log(response.test);
                }
            });
            var test = '';
            return false;
        }
    </script>
}