﻿<table id="table_id" class="display" style="width:100%">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Address</th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#table_id").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                "lengthMenu": [10, 20, 50, 75, 100],
                "ajax": {
                    "url": "/ajax/getUsers",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": function (json) {
                        console.log(json);
                        return json.data;
                    }
                },
                "order": [0, "asc"],
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "address", "name": "address", "autoWidth": true },
                ]
            });
        });
    </script>
}
