﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aspnet.JQuery</title>
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <link href="~/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />    
    <link href="~/jqgrid/ui.jqgrid.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f0f0ffa;
        }

        .ui-jqgrid .ui-pg-input {
            height: 20px;
        }

        .ui-jqgrid .ui-jqgrid-pager {
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="d-grid gap-2">
                <a class="btn btn-secondary" asp-action="Example_1" asp-controller="Home">
                    Simple
                </a>
                <a class="btn btn-secondary" asp-action="Example_2" asp-controller="Home">
                   Search
                </a>
                <a class="btn btn-secondary" asp-action="Example_3" asp-controller="Home">
                    CRUD
                </a>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery.min.js"></script>
            <script src="~/jquery-ui/jquery-ui.min.js"></script>
            <script src="~/jqgrid/jquery.jqgrid.min.js"></script>
            <script src="~/jqgrid/grid.locale-ru.js"></script>

        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
