﻿@page
@functions {
    public void OnGet()
    {

    }
    public IActionResult OnPostForm([FromForm] string userId, string ModuleId)
    {
        var req = Request;
        return new JsonResult(new { test = "hello" });
    }
    public IActionResult OnPostBody([FromBody] DataRequest dataRequest)
    {
        var req = Request;
        return new JsonResult(new { test = "hello" });
    }
    public record DataRequest(string userId, string ModuleId, string role);
}
<h1>Test ajax post</h1>
<form method="post">
    User ID : <input id="userId" /> <br />
    Module Id :  <input id="ModuleId" /> <br />
    role : <input id="role" /> <br />
    <button class="btn btn-primary" onclick="return postContentTypeForm()">
        Post data with form
    </button>&nbsp;
    <button class="btn btn-primary" onclick="return postContentTypeJson()">
        Post data with body
    </button>
</form>

@section Scripts{
    <script>
        function postContentTypeForm() {
            let userId = $("#userId").val();
            let ModuleId = $("#ModuleId").val();
            let role = $("#role").val();
            $.ajax({
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: '/ajax_post/example_01/ContentType?handler=Form',
                data: { "userId": userId, "ModuleId": ModuleId, "role": role },
                dataType: 'json',
                success: function (response) {
                    console.log(response.test);
                }
            });
            var test = '';
            return false;
        }
        function postContentTypeJson() {
            let userId = $("#userId").val();
            let ModuleId = $("#ModuleId").val();
            let role = $("#role").val();
            $.ajax({
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: '/ajax_post/example_01/ContentType?handler=Body',
                data: JSON.stringify({ "userId": userId, "ModuleId": ModuleId, "role": role }),
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    console.log(response.test);
                }
            });
            var test = '';
            return false;
        }
    </script>
}

