﻿<h2>jQGrid</h2>
<table id="jqg"></table>
<div id="jpager"></div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqg").jqGrid({
                url: '@Url.Action("GetData")',
                datatype: "json",
                colNames: ['Id', 'Название', 'Автор', 'Год', 'Цена'],
                colModel: [
                    { name: 'Id', index: 'Id', width: 30, stype: 'text', key: true },
                    { name: 'Name', index: 'Name', width: 150, editable: true, edittype: 'text', sortable: true },
                    { name: 'Author', index: 'Author', width: 150, editable: true, edittype: 'text', sortable: true },
                    { name: 'Year', index: 'Year', width: 100, editable: true, edittype: 'text', sortable: false },
                    { name: 'Price', index: 'Price', width: 80, align: "right", editable: true, edittype: 'text', sortable: true }
                ],
                rowNum: 10,
                rowList: [10, 20, 30],
                width: 800,
                pager: '#jpager',
                loadonce: true,
                sortname: 'Id',
                sortorder: "desc",
                caption: "Список Книг"
            });
            $("#jqg").jqGrid('navGrid', '#jpager', {

                search: true,
                searchtext: "Поиск",
                refresh: false,
                add: true, // добавление
                del: true, // удаление
                edit: true, // редактирование
                view: true, // просмотр записи
                viewtext: "Смотреть",
                viewtitle: "Выбранная запись",
                addtext: "Добавить",
                edittext: "Изменить",
                deltext: "Удалить"
            },
                update("edit"), // обновление
                update("add"), // добавление
                update("del") // удаление
            );
            function update(act) {
                return {
                    closeAfterAdd: true, // закрыть после добавления
                    height: 275,
                    width: 400,
                    closeAfterEdit: true, // закрыть после редактирования
                    reloadAfterSubmit: true, // обновление
                    drag: true,
                    onclickSubmit: function (params) {
                        var list = $("#jqg");
                        var selectedRow = list.getGridParam("selrow");
                        rowData = list.getRowData(selectedRow);
                        if (act === "add")
                            params.url = '@Url.Action("Create")';
                        else if (act === "del")
                            params.url = '@Url.Action("Delete")';
                        else if (act === "edit")
                            params.url = '@Url.Action("Edit")';
                    },
                    afterSubmit: function (response, postdata) {
                        // обновление грида
                        $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid')
                        return [true, "", 0]
                    }
                };
            };
        });
    </script>
}
