﻿<h2>jQGrid</h2>
<table id="jqg"></table>
<div id="jpager"></div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqg").jqGrid({
                url: '@Url.Action("GetData")',
                datatype: "json",
                colNames: ['Id', 'Название', 'Автор', 'Год', 'Цена'],
                colModel: [
                    { name: 'Id', index: 'Id', width: 30, stype: 'text' },
                    { name: 'Name', index: 'Name', width: 150, sortable: true },
                    { name: 'Author', index: 'Author', width: 150, sortable: true },
                    { name: 'Year', index: 'Year', width: 100, sortable: false },
                    { name: 'Price', index: 'Price', width: 80, align: "right", sortable: true }
                ],
                rowNum: 10,
                rowList: [10, 20, 30],
                pager: '#jpager',
                loadonce: true,
                sortname: 'Id',
                sortorder: "desc", // порядок сортировки,
                caption: "Список Книг"
            });
            $("#jqg").jqGrid('navGrid', '#jpager', {

                add: false,
                del: false,
                edit: false,
                search: true,
                searchtext: "Поиск",
                refresh: true,
                refreshtext: "Обновить"
            });
        });
    </script>
}