﻿<h2>jQGrid</h2>
<table id="jqg"></table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqg").jqGrid({
                url: '@Url.Action("GetData")',
                datatype: "json",
                colNames: ['Id', 'Название', 'Автор', 'Год', 'Цена'],
                colModel: [
                    { name: 'Id', index: 'Id', width: 30, stype: 'text' },
                    { name: 'Name', index: 'Name', width: 150, sortable: true },
                    { name: 'Author', index: 'Author', width: 150, sortable: true },
                    { name: 'Year', index: 'Year', width: 100, sortable: false },
                    { name: 'Price', index: 'Price', width: 80, align: "right", sortable: true }
                ],
                rowNum: 5, // число отображаемых строк
                loadonce: true, // загрузка только один раз
                sortname: 'Id', // сортировка по умолчанию по столбцу Id
                sortorder: "desc", // порядок сортировки
                caption: "Список Книг"
            });
        });
    </script>
}
